
Защита данных клиентов/.ipynb_checkpoints/insurance_pf-checkpoint.ipynb
Восстановление золота/.ipynb_checkpoints/gold_pf-checkpoint.ipynb
Восстановление золота/.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/README-checkpoint.md
Анализ рынка видеоигр/.ipynb_checkpoints/gamedev_pf-checkpoint.ipynb
Анализ рынка видеоигр/.ipynb_checkpoints/README-checkpoint.md
Защита данных клиентов/.ipynb_checkpoints/README-checkpoint.md
Нефтяные скважины/.ipynb_checkpoints/oil_pf-checkpoint.ipynb
Нефтяные скважины/.ipynb_checkpoints/README-checkpoint.md
Определение стоимости автомобилей/.ipynb_checkpoints/autos-checkpoint.ipynb
Определение стоимости автомобилей/.ipynb_checkpoints/README-checkpoint.md
Отток клиентов из банка/.ipynb_checkpoints/README-checkpoint.md
Отток клиентов из банка/.ipynb_checkpoints/churn_pf-checkpoint.ipynb
.DS_Store
Выявление токсичных комментариев/.ipynb_checkpoints/toxic_comments_pf-checkpoint.ipynb
Компьютерное зрение/.ipynb_checkpoints/README-checkpoint.md
Компьютерное зрение/.ipynb_checkpoints/Компьютерное зрение-checkpoint.ipynb
Отток клиентов из телеком-провайдера/.ipynb_checkpoints/Отток клиентов в телеком-компании-checkpoint.ipynb
Отток клиентов из телеком-провайдера/.ipynb_checkpoints/README-checkpoint.md
